* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 10vw 10vh;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  gap: 32px;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 700;
}

.hero-left {
  flex: 1 1 50%;
}

.hero-image {
  flex: 1 1 50%;
  max-width: 600px;
  min-width: 300px;
  display: flex;
}

.hero-image img {
  width: 100%;
  align-self: center;
}

.hero-subtext,
.header-links,
.image-placeholder {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-subtext {
  margin: 16px 0;
}

.hero-btn {
  background-color: #3882f6;
  padding: 8px 24px;
  border-radius: 10px;
  color: #f9faf8;
  border: 0;
  margin-top: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  padding: 5vh 0 10vh;
}

.info-header {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin-top: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}

.card {
  flex-shrink: 0;
  flex-basis: 0;
}

.card-image {
  border: 3px solid blue;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  text-align: center;
}

.card-text {
  margin-top: 4px;
  margin-bottom: 0px;
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 65vw;
}

.quote-content {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
}

.quote-caption {
  font-size: 24px;
  align-self: flex-end;
  font-weight: bold;
}

.action-container {
  background-color: #3882f6;
  padding: 8px 16px;
  margin: 10vh 20vw;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 24px;
  padding: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-header {
  font-weight: 900;
  margin: 0;
  font-size: 36px;
}

.action-description {
  font-weight: 100;
  margin: 0;
  font-size: 18px;
}

.action-btn {
  padding: 8px 36px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 0;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}
